[submodule "memcached"]
	path = apps/memcached
	url = git@github.com:eden-ucsd-vmware/memcached.git
[submodule "eden"]
	path = eden
	url = git@github.com:eden-ucsd-vmware/eden.git
[submodule "parsec"]
	path = apps/parsec
	url = git@github.com:eden-ucsd-vmware/parsec.git
[submodule "fastswap"]
	path = fastswap
	url = git@github.com:eden-ucsd-vmware/fastswap.git
[submodule "dataframe"]
	path = apps/dataframe/dataframe
	url = git@github.com:eden-ucsd-vmware/dataframe.git
[submodule "fault-analysis"]
	path = fault-analysis
	url = git@github.com:eden-ucsd-vmware/fault-analysis.git
[submodule "apps/synthetic-cpp/synthetic-aifm"]
	path = apps/synthetic-cpp/synthetic-aifm
	url = git@github.com:eden-ucsd-vmware/synthetic-aifm.git
