[submodule "memcached"]
	path = apps/memcached
	url = git@gitlab.eng.vmware.com:kona/memcached.git
[submodule "shenango"]
	path = scheduler
	url = git@gitlab.eng.vmware.com:kona/shenango.git
[submodule "kona"]
	path = backends/kona
	url = git@gitlab.eng.vmware.com:kona/kona.git
[submodule "umap"]
	path = backends/umap
	url = git@gitlab.eng.vmware.com:kona/umap.git
[submodule "apps/parsec-benchmark"]
	path = apps/parsec
	url = git@gitlab.eng.vmware.com:kona/parsec-kona.git
[submodule "fastswap"]
	path = other-systems/fastswap
	url = git@gitlab.eng.vmware.com:kona/fastswap.git