[submodule "memcached"]
	path = apps/memcached
	url = git@github.com:eden-ucsd-vmware/memcached.git
[submodule "eden"]
	path = eden
	url = git@github.com:eden-ucsd-vmware/eden.git
[submodule "parsec"]
	path = apps/parsec
	url = git@github.com:eden-ucsd-vmware/parsec-kona.git
[submodule "aifm"]
	path = aifm
	url = git@github.com:eden-ucsd-vmware/aifm.git
[submodule "dataframe"]
	path = apps/dataframe/dataframe
	url = git@github.com:eden-ucsd-vmware/dataframe.git
[submodule "silodb"]
	path = apps/silo/silo
	url = git@github.com:eden-ucsd-vmware/silodb.git
